div(class="accordion" id="best2023")
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_0" aria-expanded="false" aria-controls="collitem_2023_0") ACsapat
        div(id="collitem_2023_0" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                br
                ul
                    li Unity alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-a-csapat") Github repository
    // Diamond dogs
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_1" aria-expanded="false" aria-controls="collitem_2023_1") Diamond Dogs
        div(id="collitem_2023_1" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")
                p Ez a játék egy 2d-s labirintusos játék, aminek a lényege, hogy kulcsok és életerőitalok segítségével végig tudj menni a megadott számú labirintuson minél kevesebb idő alatt. Minden labirintusban a bal felső sarokból kell eljutnod a jobb alsó sarokban, de van egy csavar. Minden egyes kulcsot össze kell gyűjtened, vagy nem tudsz átjutni a következő szintre. Minden egyes ellenféllel való megütközés 3 darab életerőt von le a 10 darab életből, szóval óvatosnak kell lenni, nehogy túl sok ellenféllel ütközz meg és veszítsél. Természetesen, hogy ne legyen lehetetlen a játék, vannak életerőitalok, amik a maximumra visszatöltik az életed, ezáltal megkönnyítve az utadat. Az utolsó pálya elvégeztével kapsz egy pontszámot, mely annál magasabb, minél több pontod van. Jó játékot kívánok! :)            
                br
                ul
                    li SDL alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-diamond-dogs") Github repository
    // Egy hangzatos de blablba
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_2" aria-expanded="false" aria-controls="collitem_2023_2") Egy hangzatos de nyomdafestéket tűrő név
        div(id="collitem_2023_2" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p Robo survivor game
                br
                ul
                    li Parancssor-alapú (konzolfelületes) játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-egy-hangzatos-de-nyomdafesteket-turo") Github repository
                    li
                        a(href="https://www.youtube.com/watch?v=d_QNBHqFfuU") Youtube videó
    // ByteBusters
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_3" aria-expanded="false" aria-controls="collitem_2023_3") ByteBusters
        div(id="collitem_2023_3" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p Deer Hunter game
                br
                ul
                    li SDL alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-bytebusters") Github repository
                    li
                        a(href="https://youtu.be/7ypwzmw4L44?si=PdURetATQIQaznyX") Youtube videó
    // Read or Bleed
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_4" aria-expanded="false" aria-controls="collitem_2023_4") Read or Bleed
        div(id="collitem_2023_4" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p Labirintus felfedezés
                br
                ul
                    li Unity alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-read-or-bleed") Github repository
                    li
                        a(href="https://www.youtube.com/watch?v=d4_W4SZbHqI") Youtube videó
    // Amogus
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_5" aria-expanded="false" aria-controls="collitem_2023_5") Amogus
        div(id="collitem_2023_5" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p 1945, a Harmadik Birodalom területén Lengyelországban a nácik egyik titkos bázisában a Project Riese-ben vagyunk. A nácik látszólag sietve hagyták el ezt a bázist, senki sem tudja, hogy a közelgő vörös hadsereg miatt vagy lent találtak vagy alkottak valami rettenetest. Nagy felelősség hárult rám, mert én voltam az, aki belevágtam ebbe a kísérletbe, hogy megtudjam az igazságot. Korábbi információk alapján tudtam, hogy itt valami sötét és misztikus történt, legalábbis a titkosított dokumentumok említettek egy sikeresen megfejtett üzenetet, amiben németek az okkult kísérletek sikerességéről jelentettek. Amikor először találkoztam a náci szellemekkel, akiket itt hagytak, úgy éreztem, mintha az elmém is megbénult volna. A kísérteties lények csendben keringtek a folyosókon, a homályban néha eltűnve. Az egyetlen dolog, amit biztosan tudtam az volt, hogy mindenképpen el kell kerülnöm őket és össze kell gyűjteni bármit, amit csak találok. A Project Riese kiléte valószínűleg örökre rejtély marad, és csak a bátor kutatók és felfedezők próbálkoznak majd, hogy leleplezzék valódi célját.
                br
                ul
                    li Unity alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-amogus") Github repository
                    li
                        a(href="https://www.youtube.com/watch?v=0DZ3cYVHMZA") Youtube videó
    // Amogus
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_6" aria-expanded="false" aria-controls="collitem_2023_6") DGDC
        div(id="collitem_2023_6" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p This Unity project is a 2D Maze RPG game that combines elements of maze exploration and role-playing as a character. Players navigate through mazes filled with enemies, and powerups while uncovering an interesting story. This README provides an overview of the project, it also features installation instructions.
                br
                p The latest release after every push is always available at http://mosze.zahuczky.com/play/index.html
                br
                ul
                    li Unity alapú játék
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-2023-hw-pacman-d-g-dc") Github repository
                    li
                        a(href="https://www.youtube.com/watch?v=d_QNBHqFfuU") Youtube videó
    // ITélkezők
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem_2023_7" aria-expanded="false" aria-controls="collitem_2023_7") ITélkezők
        div(id="collitem_2023_7" class="accordion-collapse collapse" data-bs-parent="#best2023")
            div(class="accordion-body text-left")                                                
                p Kétdimenziós, egyszemélyes, konzolos játék, melyben a karakternek ki kell szabadulnia a random generált labirintusokból és a végén legyőzni a főbosst. A játék során 12 különleges itemet kell felvennie a karakternek úgy, hogy közben az elszórt csapdákat és ellenfeleket elkerüli, melyekkel való ütközés negatív hatással van a játékosra. A 12 kötelezően felvehető item után játékosunknak lehetősége van a főbossal való harcot megkönnyítő különleges itemet is felvenni, amennyiben nem lép ki a labirintusból.
                br
                ul
                    li Unity alapú játék
                    li 
                        a(href="https://github.com/szgeri28/Labyrinth_of_SZEternity") Github repository
                    li
                        a(href="https://youtu.be/VpksJ82InGE") Youtube videó